@font-face {
    font-family: blackForest;
    src: url('../../assets/BLACK\ FOREST.ttf');
}

#navTitle {
    font-family: blackForest;
    font-size: 4.5em;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 575;
}

#navBar {
    height: 6em;
}
