.App {
  text-align: center;
}  

@font-face {
  font-family: steelFish;
  src: url('./assets/steelfish.outline.ttf');
}

#mainLabel {
  font-size: 34px;
  font-family: steelFish;
  color: rgb(0, 0, 0);
  font-weight: 575;
  letter-spacing: 3px;
  float: left;
  margin-left: 15px;
  margin-bottom: -3px;
}

#mainForm {
  margin-left: 60%;
  color: #ffffff;
  padding: 20px;
  width: 80%;
  height: 60%;
  margin-top: 50px;
  
}

td {
  background-color: #5e7a4d;
  color: white;
  text-align: center;
  font-size: 18px;
}

#trailForm {
  background-color: white;
  box-shadow: #3f603c 0 0 2px 4px;
  width: 175%;
  margin-left: 255%;
  align-items: center;
  padding: 30px;
  margin-top: -595px;
  border-radius: 10px;
  font-weight: 575;
  position: static;
}
